body {
	background-color: #2b9e44;
	margin: 0 auto;
	width: 960px;
}
#page_wrapper {
	width: 960px;
}

#nav a	{
	text-decoration: none;
	border-bottom: 1px solid white;
	color: white;
}

#nav li	{
	display: inline;
	float: right;
	margin-right: 22px;
}

#gallery li	{
	display: inline;
}

#sidebar	{
	margin-left: 10px;
	width: 310px;
	float: right;
}

#sidebar li	{
	list-style-type: none;
}

#liger_jpg	{
}

#main-content_a	{
	margin-right: 10px;
	float: left;
	width: 630px;
	clear: both;
}

body	{
	font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;
}

#see_also	{
	float: right;
	margin-bottom: 20px;
	border-bottom: 1px solid;
	overflow: hidden;
	width: 310px;
}